
<app-header></app-header>
<div class="container">
  <div class="row-xs-12">
    <p>{{title}}</p>
  </div>
</div>

<!-- <div style="display: flex; border: 2px solid grey; justify-content: space-around;">
  <div>
    <app-shopping-list></app-shopping-list>
    <div>
      <app-shopping-edit></app-shopping-edit>
    </div>
  </div>


  <div>
    <app-recipes></app-recipes>
    <div>
        <div><app-recipe-detail></app-recipe-detail></div>
        <div>
          <app-recipe-list></app-recipe-list>
          <div><app-recipe-list></app-recipe-list></div>
        </div>
    </div>
  </div>
</div> -->

<div class="container" style="border: 1px solid grey; padding: 1rem; margin-top: 1rem;">
  <button class="btn btn-primary" (click)="onAddServer()">Add Server</button> &nbsp;
  <div *ngFor="let server of servers; let i= index" style="border: 1px solid grey; margin: .4rem; padding: .5rem; width: fit-content;">
    {{server}} and id {{i}} 
    <span>  
      <button class="btn btn-primary" (click)="onRemoveServer(i)">Remove Server</button>
    </span>
  </div>
</div>

<hr>
<!-- pipes -->
<div class="container" style="background-color: #D9E6FF;">
  <h4>Pipes</h4>
  <p>usd to inr conversion</p>
  <h3>{{20 | currencyconversion: 78 | currency:'INR'}}</h3>
</div>
<hr>

<br><hr><br>
<app-parent></app-parent>


